<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  </head>

  <body>


    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {%- comment -%} Скрипти підключаються перед закриттям body {%- endcomment -%}
    {{ 'swiper-bundle.min.js' | asset_url | script_tag }}
    {{ 'swiper-init.js' | asset_url | script_tag }}
  </body>
</html>
